* {
  padding: 0;
  margin: 0;
}

.row {
  margin-right: 0;
}

/*Start Setup*/

html body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Helvetica", sans-serif !important;
  font-size: 14px;
  background: #f2f5f8;
}

img {
  max-width: 100%;
}

a:hover, a:active, a:visited, a:link {
  text-decoration: none;
  cursor: pointer;
}

.table .table {
  background: transparent;
}

.row.no-gutter {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.row.no-gutters {
  margin-right: -15px;
  margin-left: -15px;
}

.row.no-gutters > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.font-bold {
  font-size: 14px;
  font-weight: 500;
  color: #636669;
}

hr.body-separator {
  border: 0;
  height: 1px;
  margin-bottom: 10px;
  background: #c1d2db;
}

@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

.bg-blue {
  background-color: #73c2df;
}

.bg-red {
  background-color: #f49494;
}

.bg-red-active {
  background: white;
  border: 2px solid #f49494;
  padding: 10px !important;
}

/* @fix german display icon */
.bg-red-active a, .bg-red-active i {
  color: #f49494 !important;
}

.bg-blue-active {
  background: white;
  border: 2px solid#73c2df;
  padding: 10px !important;
  margin-top:0px !important;
}

.bg-blue-active a {
  color: #73c2df !important;
}

input[type=radio] {
  margin: 3px 0 0;
}

/*End Setup*/

/*Colors Palette*/
.grey, .grey:hover {
  color: #d3d3d3;
}

.orange, .orange:hover {
  color: #fd8f52;
}

.green, .green:hover {
  color: #73b233;
}

.yellow, .yellow:hover {
  color: #ebc200;
}

.blue, .blue:hover {
  color: #8496d4;
}

.brown, .brown:hover {
  color: #86796a;
}

.purple, .purple:hover {
  color: #9561b5;
}

/*End Colors Palette*/

/*Start Navbar*/
.navbar {
  position: relative;
  height: 67px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #d5e2ef;
  padding: 0;
}

.navbar a:hover {
  color: #61666b;
}

.navbar-logo {
  position: relative;
  height: auto;
  width: 125px;
  float: left;
  margin-right: 15px;
}

.navbar .container-fluid {
  position: relative;
  height: 45px;
  width: 100%;
  padding: 0;
}

.navbar-search .search {
  margin-right: 35px;
  margin-top: 10px;
}

.navbar-search .search input {
  height: 45px;
  border-color: #d2dbe8;
  background-color: #f8fafb;
  box-shadow: none;
}

.navbar-search .search button {
  height: 45px;
  width: 104px;
  background: #97d35a;
  color: white;
  border: none;
}

.navbar-search .search button span {
  color: white;
  font-size: 13px;
  text-transform: uppercase;
}

.search-dropdown {
  position: absolute;
  height: 10px;
  width: 10px;
  right: 118px;
  top: 11px;
  z-index: 999;

}

#advanced-search {
  position: relative;
  height: auto;
  min-height: 200px;
  width: 440px;
  margin-top: 15px;
  margin-left: -416px;
  border-radius: 0;
  padding: 0 10px 15px;
}

#advanced-search .search-term select {
  border-radius: 0;
  background-color: #f8fafb;
  border-color: #d6d6d6;
}

#advanced-search label {
  color: #5b5b5b;
  margin-top: 10px;
}

#advanced-search input {
  border-radius: 0;
}

#advanced-search form .form-group {
  padding-bottom: 15px;
}

#advanced-search form .form-buttons {
  margin-top: 48px;
  position: relative;
}

#advanced-search form .form-buttons a.btn-cancel {
  height: 46px;
  background-color: #b2b2b2;
  color: white;
  text-transform: uppercase;
  border: 1px solid #b2b2b2;
  padding: 12px 25px;
  float: left;
}

#advanced-search form .form-buttons input.btn-green {
  height: 46px;
  background-color: #97d35a;
  color: white;
  text-transform: uppercase;
  border: 1px solid #86ba51;
  float: right;
  padding: 12px 30px;
  font-size: 14px;
  border-radius: 4px;
}

.navbar-menu {
  position: relative;
  border-left: 1px solid #e3e8f0;
  margin-left: 20px;
  float: left;
}

.navbar-menu-item {
  position: relative;
  height: 66px;
  width: 140px;
  border-right: 1px solid #e3e8f0;
  display: inline-block;
  padding: 22px 0;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  color: #6d737a;
  float: left;
}

.navbar-menu-item.active {
  background-color: #fafcfd !important;
  border-bottom: 2px solid #60c4e9;
}

.navbar-menu-item i {
  margin-right: 3px;
  color: #a7aeb6;
}

.navbar-nav {
  float: right;
  width: 600px;
}

.navbar-notif {
  position: relative;
  width: 66px;
  display: inline;
  float: left;
  padding-top: 22px;
  text-align: center;
}

.navbar-notif i {
  font-size: 21px;
  color: #9aa5a9;
}

.navbar-profile {
  position: relative;
  height: 66px;
  background-color: transparent;
  padding: 10px;
  border-left: 1px solid #e3e8f0;
  float: left;
  display: block;
}

.navbar-profile img {
  margin-right: 5px;
}

.profile-nav-label i {
  margin-left: 5px;
}

.profile-nav-label {
  color: #6d737a;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:focus, .navbar-inverse .navbar-nav > .open > a:hover {
  color: #6d737a;
  background-color: #ffffff;
}

/* Start profile dropdown */

.navbar-profile > ul.dropdown-menu {
  background-color: #f7f7f7;
  border-radius: 0;
  margin: 0 5px 0 0;
  width: 200px;
  padding: 0;
}

.navbar-profile ul.dropdown-menu li a {
  height: 40px;
  background-color: transparent;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  color: #7f848a;
  font-weight: 400;
}

.navbar-profile ul.dropdown-menu li a:hover {
  background-color: #f3f3f3;
  color: #5e6165;
}

.navbar-profile ul.dropdown-menu li a i {
  margin-right: 5px;
}

/* End profile dropdown */

/* Start notification dropdown */

.navbar-notif > ul.dropdown-menu {
  background-color: #f7f7f7;
  border-radius: 0;
  margin: 21px 5px 0 0;
  width: 280px;
  padding: 0;
}

.navbar-notif ul.dropdown-menu li {
  height: 60px;
  background-color: transparent;
  padding: 19px 10px;
  border-bottom: 1px solid #e0e0e0;
}

.navbar-notif ul.dropdown-menu li span {
  float: left;
}

.navbar-notif ul.dropdown-menu li .notif-btns {
  position: relative;
  float: right;
  display: inline-block;
  margin-right: -10px;
}

.navbar-notif ul.dropdown-menu .notif-btn {
  right: 10px;
  position: relative;
  display: inline-block;
  height: 20px;
  width: auto;
  padding: 0 5px;
  border-radius: 4px;
  line-height: 16px;
}

.navbar-notif ul.dropdown-menu i {
  color: white;
  font-size: 12px;
  z-index: 1;
}

.navbar-notif > .navbar-tag {
  position: absolute;
  background-color: red;
  color: white;
  padding: 1px 2px;
  display: block;
  font-size: 8px;
  z-index: 9999;
}

.navbar-notif ul.dropdown-menu li a.seen {
  color: #9ea2a3;
}

.navbar-notif ul.dropdown-menu li:hover {
  background-color: #f3f3f3;
  color: #727576;
}

.navbar-notif .dropdown-menu > li > a {
  display: inline-block;
  padding: 0;
  clear: both;
  line-height: 1.42857143;
  white-space: nowrap;
  color: #727576;
  font-weight: 300;
}

/* End notification dropdown*/

/*End Navbar*/

/* Start Content*/

/* Start Content-head */

.content-head {
  position: relative;
  width: 100%;
  height: auto;
  padding-left: 15px;
}

.content-title {
  position: relative;
  float: left;
}

.content-title h1 {
  font-size: 35px;
  font-weight: 300;
  color: #324154;
  margin: 0;
  line-height: 50px;
  -webkit-font-smoothing: antialiased;
}

.content-ctas {
  position: relative;
  float: right;
}

.cta-btn {
  color: white;
  height: 50px;
  border-radius: 5px;
  padding: 14px 20px;
  text-transform: uppercase;
  margin-left: 15px;
  min-width: 120px;
  display: inline-block;
}

.cta-btn, .cta-btn:hover, .cta-btn:focus {
  color: white !important;
  height: 50px;
  border-radius: 5px;
  padding: 14px 20px;
  text-transform: uppercase;
  margin-left: 15px;
  display: inline-block;
}

.cta-blue {
  background: #5bc4eb;
  border: 1px solid #4eb2d7;
}

.cta-grey {
  background: #b2b2b2;
  border: 1px solid #9f9f9f;
  margin-left: 0;
}

.cta-grey:hover, .cta-grey:focus, .cta-grey:active {
  background-color: #a8a8a8;
  box-shadow: none;
  margin-left: 0;
}

.cta-blue:hover {
  background: #4cbce6;
  color: white;
}

.cta-red {
  background: #f49494;
  border: 1px solid #e08686;
}

.cta-red:hover {
  background: #f18888;
  color: white;
}

.cta-green {
  background: #97d35a;
  border: 1px solid #86ba51;
}

.cta-green:hover {
  background: #8ecd4f;
  color: white;
}

.cta-yellow {
  background: #f7ce86;
  border: 1px solid #dfbb7d;
}

.cta-yellow:hover {
  background: #f2c679;
  color: white;
}

/* End Content-head */

/* Start Content-body */

.content-body {
  position: relative;
  height: 660px; /* Make sure to delete this */
  background-color: white;
  border: 1px solid #c1d2db;
  margin: 20px 15px;
  display: block;
}

.box-head {
  position: relative;
  height: 35px;
  width: 100%;
  padding: 0;
}

.box-toggle {
  position: relative;
  float: left;
  width: auto;
  height: 35px;
  border-radius: 20px;
  overflow: hidden;
}

.box-toggle .toggle-option {
  position: relative;
  float: left;
  width: auto;
  height: 35px;
  background: #8f9eac;
  display: block;
  color: #e9edf2;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
}

.box-toggle > .active {
  background: #97d35a !important;
  color: white;
}

.box-filter {
  position: relative;
  float: right;
  display:inline-block;
  margin-left:10px;
  width: 120px; /* @german correct size for 3 icons */
}

.box-filter input {
  box-shadow: none;
  border: 1px solid #cbd4dc;
  border-radius: 3px;
  color: #a8b0bc;
  font-size: 12px;
  font-weight: 400;
  padding: 6px 10px;
}

.box-filter input.customer-input {
  background-image:url(../img/person-icon-filter.png);
  background-repeat:  no-repeat;
  background-color:white;
  background-position:right center;
  padding-right:25px;
}

.box-filter input.location-input {
  background-image:url(../img/local-icon-filter.png);
  background-repeat:  no-repeat;
  background-color:white;
  background-position:right center;
  padding-right:25px;
}

.box-filter input::-webkit-input-placeholder, #box-location-filter::-webkit-input-placeholder  {
  color: #a8b0bc !important;
}

.custom-dropdown a.dropdown-label {
  float: right;
  position: relative;
}

@media screen and (max-width: 1225px) {
  .box-toggle.transform{ /*@fix german. Add .transform for work this on My Appointments page only.*/
    display:none;
  }
}

@media screen and (min-width: 1225px) {
  .box-toggle-mini {
    display:none;
  }
}

.box-toggle-mini {
  position: relative;
  float: left;
  width: 70px;
  height: 34px;
  width: 105px; /* @german width for 3 elements */
  height: 35px;
  overflow: hidden;
}

.box-toggle-mini-item {
  height:34px;
  width:35px;
  float:left;
  padding: 7px 11px;
  font-size: 14px;
  background-color: #8F9EAC;
  color:white;
}

.box-toggle-mini-item, .box-toggle-mini-item:hover, .box-toggle-mini-item:active, .box-toggle-mini-item:focus, .box-toggle-mini-item:visited {
  color:white !important;
  text-decoration:none !important;
}

.box-toggle-mini .toggle-mini-active {
  background-color:#97D35A !important;
}

.custom-dropdown a.dropdown-label {
  height: 35px;
  width: 120px; /* @german width for 3 elements */
  display: inline-block;
  padding: 9px;
  box-shadow: none;
  border: 1px solid #cbd4dc;
  border-radius: 4px;
  background: white;
  font-size: 12px;
  color: #a8b0bc;
}

.custom-dropdown ul.dropdown-menu {
  border-radius: 0;
  background: #f8fafc;
  padding: 0;
  margin-top: 2px;
  min-width: 130px;
}

.custom-dropdown ul.dropdown-menu li , .color-custom-dropdown ul.dropdown-menu li {
  border-bottom: 1px solid #cbd4dc;
}

.custom-dropdown ul.dropdown-menu li a {
  color: #8f9eac;
  font-size: 12px;
  font-weight: 400;
  padding: 8px 10px;
}

.custom-dropdown a:hover, .custom-dropdown a:focus {
  color: #8f9eac;
}

.custom-dropdown a.dropdown-label i {
  float: right;
  line-height: 15px;
  font-size: 14px;
  color: #8f9eac;
}

.box-head .box-title {
  float: left;
  position: relative;
}

.box-head .box-title h4 {
  font-size: 18px;
  font-weight: 400;
  color: #324154;
}

.box-head .color-filter i {
  font-size: 12px;
  line-height: 35px;
  margin-right: 10px;
}

.box-body {
  position: relative;
  width: 100%;
  min-height: 470px;
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 0;
  background: white;
  border: 1px solid #c1d2db;
  /*overflow-x: hidden;
  overflow-y: scroll;*/

}

.box-body table {
  margin-bottom: 0;
}

.appointment-list {
  position: relative;
  min-height: 468px;
}

.appointment-list .table > tbody > tr > td {
  border-top: none !important;
  border-bottom: 1px solid #d9e3e9;
  padding: 10px 15px;
}

.appointment-list table > tbody > tr > td:first-child {
  width: 50px;
  padding: 25px 15px 25px 25px;
}

.appointment-list table > tbody > tr > td:nth-child(2) {
  padding: 17px 10px;
}

.appointment-list table > tbody > tr > td:nth-child(3) {
  padding: 25px 15px;
  color: #696969;
  font-size: 15px;
  font-weight: 400;
}

.appointment-list table > tbody > tr > td:nth-child(3) > i {
  margin-right: 3px;
}

.appointment-list table > tbody > tr > td:last-child {
  padding: 17px 20px;
}

.appointment-list .event-timerange {
  float: right;
  clear: both;
  color: #696969;
  font-size: 14px;
  font-weight: 400;
}

.appointment-list table > tbody > tr > td:last-child div {
  float: right;
  clear: both;
}

.appointment-list .event-title {
  font-size: 15px;
  font-weight: 400;
  clear: both;
}

.appointment-list .event-description {
  font-size: 13px;
  font-weight: 300;
  clear: both;
  color: #999999;
}

.small-calendar > table, .big-calendar > table {
  margin: 0;
  padding: 0;
  border: none !important;
  /*height: 100%;*/
}

.small-calendar > table thead, .big-calendar > table thead {
  height: 50px;
  /*border-bottom: 1px solid #c1d2db;*/
  font-size: 13px;
  color: #a9b6c8;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

.small-calendar > table thead tr th {
  width: 33%;
  text-align: center;
  height: 50px;
}

.small-calendar .table > thead > tr > td, .table > thead > tr > th, .big-calendar .table > thead > tr > td, .table > thead > tr > th {
  padding: 14px;
}

.small-calendar > table thead tr th.active, .big-calendar > table thead tr th.active {
  color: #0fb2ee;
  background: white;
}

.small-calendar > table tbody tr, .big-calendar > table tbody tr {
  text-align: center;
}

.small-calendar > table tbody tr td {
  padding: 0;
}

.small-calendar .table > thead > tr > th, .big-calendar .table > thead > tr > th {
  border-bottom: 1px solid #c1d2db;
  text-align: center;
  min-height: 18px;
}

.small-calendar .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th, .big-calendar .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
  border-right: 1px solid #c1d2db;
  border-left: none;
  border-bottom: none;
}

.small-calendar .table-bordered > tbody > tr > td:last-child, .table-bordered > tbody > tr > th:last-child, .table-bordered > tfoot > tr > td:last-child, .table-bordered > tfoot > tr > th:last-child, .table-bordered > thead > tr > td:last-child, .table-bordered > thead > tr > th:last-child, .big-calendar .table-bordered > tbody > tr > td:last-child, .table-bordered > tbody > tr > th:last-child, .table-bordered > tfoot > tr > td:last-child, .table-bordered > tfoot > tr > th:last-child, .table-bordered > thead > tr > td:last-child, .table-bordered > thead > tr > th:last-child {
  border-right: none;
}

.small-calendar .table-bordered > tbody > tr > td.active, .big-calendar .table-bordered > tbody > tr > td.active {
  border-top: 3px solid #60c4e9;
  background: white;
}

.small-calendar .table-bordered > tbody > tr > td.inactive, .big-calendar .table-bordered > tbody > tr > td.inactive {
  background: #fbfbfb;
}

.small-calendar .event, .big-calendar .event {
  display: block;
  padding: 2px 0 5px;
  width: auto;
  margin: 4px;
}

.sidebar {
  padding: 0;
}

.table > tbody > tr > td.sidebar, .table > tbody > tr > th.sidebar, .table > tfoot > tr > td.sidebar, .table > tfoot > tr > th.sidebar, .table > thead > tr > td.sidebar, .table > thead > tr > th.sidebar {
  padding: 0;
  width: 230px;
}

.table > tbody > tr > td.sidebar {
  background: #f0f4f7;
}

.big-calendar .sidebar .sidebar-title {
  border-bottom: 1px solid #c1d2db;
  border-top: 1px solid #c1d2db;
  padding: 8px 0;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #728398;
  background: #e1e8ec;
  margin-top: -1px;
}

.big-calendar .form-group {
  margin-bottom: 0;
}

.big-calendar .sidebar .sidebar-content {
  padding: 15px 10px;
}

.event-time {
  font-size: 11px;
  font-weight: 400;
  clear: both;
  text-overflow: ellipsis;
  display: block;
}

.event-title {
  font-size: 13px;
  font-weight: 600;

}

/*Event color palette*/
.event-orange, .event-orange:hover, .event-orange:active, .event-orange:focus {
  background: #ffe7d9;
  border-left: 3px solid #fda676;
  color: #fd8f52;
}

.event-green, .event-green:hover, .event-green:active, .event-green:focus {
  background: #e3f2d4;
  border-left: 3px solid #8fc658;
  color: #73b233;
}

.event-purple, .event-purple:hover, .event-purple:active, .event-purple:focus {
  background: #f4e8fb;
  border-left: 3px solid #c976fd;
  color: #9561b5;
}

.event-blue, .event-blue:hover, .event-blue:active, .event-blue:focus {
  background: #d4daf1;
  border-left: 3px solid #8496d4;
  color: #636f98;
}

.event-yellow, .event-yellow:hover, .event-yellow:active, .event-yellow:focus {
  background: #f6f3dc;
  border-left: 3px solid #f3db16;
  color: #c9a600;
}

.event-brown, .event-brown:hover, .event-brown:active, .event-brown:focus {
  background: #e9e2d9;
  border-left: 3px solid #b1a291;
  color: #928475;
}

.event-red, .event-red:hover, .event-red:active, .event-red:focus {
  background: #fce2e2 url(../img/dashed.png) repeat;
  border-left: 3px solid #f49494;
  color: #e76c6c;
}

.event-grey, .event-grey:hover, .event-grey:active, .event-grey:focus {
  /*background: #efefef url(../img/dashed.png) repeat;*/
  background: #efefef;
  border-left: 3px solid #d8d8d8;
  color: #b4b4b4;
}

/*End event color palette*/

/* Start Modals */

.modal-dialog {
  top: 60px;
  border-radius: 5px;

}

.modal-header {
  border-radius: 4px 4px 0 0;
  background: #1f2c37;
  height: 65px;
  padding: 20px 15px;
}

.modal-header h2 {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}

.modal-header .close {
  position: absolute;
  top: -24px;
  right: -21px;
  opacity: 1;
}

.modal-header-btn, .modal-header-btn:focus {
  margin-top: -10px;
  margin-right: -13px;
  padding: 10px 50px;
  height: 44px;
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  outline: none;
}

.modal-body {
  padding: 30px 15px;
  border-radius: 0 0 4px 4px;
}

.modal-body {
  background: #fff;
}

.modal-body .form-group {
  margin-bottom: 22px;
}

.modal-body label {
  font-size: 14px;
  font-weight: 500;
  color: #5b5b5b;
}

.modal-body .form-group input {
  height: 44px;
  border: 1px solid #e5e5e5;
  background-color: white;
  border-radius: 0 !important;
  box-shadow: none;
}

.modal-body .form-group .checkbox-inline input {
  height: auto;
  margin-top: 4px;
}

.modal-body .radio {
  margin-bottom: 10px;
}

@media (min-width: 992px) {
  .modal-lg {
    width: 980px;
  }
}

.modal-grey-bg {
  background-color: #f6f6f6;
  margin-top: -31px;
  margin-bottom: -30px;
  height: 480px; /*Temporary*/
  border-radius: 0 0 0 4px;
}

.modal-white-bg {
  background-color: #fff;
  margin-top: -31px;
  margin-bottom: -30px;
  height: 480px; /*Temporary*/
  border-radius: 0 0 4px 0;
  padding: 30px 4px 30px 20px;
}

/* TO EDIT IN FILE */
.tabs-left > li, .tabs-right > li {
  margin-bottom: -3px;
}

.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 0;
  height: 100%;
}

.tabs-left > li > a {
  border-bottom-color: #ddd;
}

.tabs-left > li > a {
  border-radius: 0;
  text-transform: capitalize;
  color: #8d8d8d;
}

.tabs-left > li.active > a, .tabs-left > li.active > a:focus, .tabs-left > li.active > a:hover {
  color: #73c2df;
  text-transform: capitalize;
}

/* END TO EDIT IN FILE */
.radio-name {
  font-size: 14px;
  font-weight: 500;
  color: #555555;
}

.radio-location {
  font-size: 13px;
  font-weight: 300;
  color: #9a9a9a;
  padding-left: 5px;
}

.modal-body hr {
  border: 0;
  height: 1px;
  margin-bottom: 15px;
  background: #dddddd;
}

.modal-body .add-customer-message {
  font-size: 13px;
  color: #989898;
  font-weight: normal;
}

.modal-body .add-customer-message a {
  font-size: 13px;
  color: #45c1ef;
  font-weight: 500;
  text-decoration: none;
  padding-left: 5px;
}

.modal-body .customer-search .customer-search-result p {
  font-size: 13px;
  color: #868686;
  font-weight: normal;
  margin-top: 5px;
}

.modal-body .customer-search .customer-search-result a {
  font-size: 13px;
  color: #636363;
  font-weight: 500;
}

.modal-body .customer-search .customer-search-result span {
  font-size: 13px;
  color: #adacac;
  font-weight: 400;
  float: right;
}

.modal-body .schedule-tab {
  position: relative;
  height: 44px;
  width: 100%;
  border-radius: 4px;
  color: white;
  margin: 24px 0 -15px 0;
  padding: 12px;
}

.modal-body .schedule-tab a {
  color: white;
  text-decoration: none;
}

.modal-body .schedule-tab i {
  color: #398ba9;
  text-decoration: none;
  font-size: 15px;
  margin-left: 8px;
  line-height: 10px;
}

.modal-body .schedule-tab a:hover i {
  color: #398ba9;
}

.modal-footer {
  background: #f3f3f3;
  border-radius: 0 0 5px 5px;
  height: 80px;
}

.workdays input[type=checkbox] {
  display: none;
}

.workdays input[type=checkbox] + label {
  background: white;
  height: 43px;
  width: 44px;
  display: block;
  border-radius: 0;
  position: relative;
  transition: all 0.4s;
  border: solid 2px #e5e5e5;
  box-shadow: 0 0 1px #FFF;
  cursor: pointer;
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  color: #9f9f9f;
  float: left;
  margin-right: 4px;
  white-space: nowrap;
}

/* Provide a border when hovered and when the checkbox before it is checked */
#schedule-days .workdays input[type=checkbox] + label:hover, #schedule-days .workdays input[type=checkbox]:checked + label {
  border: solid 2px #73c2df;
  color: #444;
}

#exception-days .workdays input[type=checkbox] + label:hover, #exception-days .workdays input[type=checkbox]:checked + label {
  border: solid 2px #f49494;
  color: #444;
}

/* :after when checked */
.workdays input[type=checkbox]:checked + label:after {
  display: block;
  height: 1em;
  width: 1em;
  position: absolute;
  top: 5px;
  left: 5px;
  bottom: 0;
  right: 0;
  margin: auto;
  color: #F00;
}

.modal-body .time-control {
  padding-right: 28px;
  background: url(../img/clock.png) no-repeat right 8px center;
}

.modal-body .search-control {
  padding-right: 28px;
  background: url(../img/search-icon-grey.png) no-repeat right 8px center;
}

.search-tag {
    float: left;
    background: #73c2df;
    border-radius: 40px;
    color: white;
    width: auto;
    position: relative;
    padding: 3px 10px;
    margin-top: -15px;
    margin-bottom: 20px;
    font-size:13px;
    margin-right:10px;
}

.search-tag>a>i {
    float: right;
    color: white;
    text-decoration: none !important;
    margin: 4px -2px 4px 5px;
    font-size: 12px;
}

.search-tag>a>i:hover,.search-tag>a>i:active,.search-tag>a>i:focus, .search-tag>a>i:visited  {
    color:#3895b7 !important;
}

hr.dash {
    border-top: 1px dashed #cccccc;
    clear: both;
    background: transparent;
    margin-top: 45px;
}

.modal-body .add-schedule a {
  color: #45acd2;
  font-weight: 400;
}

.modal-body .add-schedule a:hover {
  color: #38a1c8;
}

.modal-body .add-exception a {
  color: #f49494;
  font-weight: 400;
  font-size: 13px;
}

.modal-body .add-exception a i {
  margin-right: 3px;
}

.modal-body .add-exception a:hover {
  color: #eb7d7d;
}

/* End Modals */
.input-email {
  background: url(../img/email-icon.png) no-repeat 10px 13px;
  padding-left: 35px;
  z-index: 999;
}

.input-person {
  background: url(../img/person-icon.png) no-repeat 10px 13px;
  padding-left: 35px;
  z-index: 999;
}

.input-search {
  background: url(../img/search-icon.png) no-repeat;
  background-position-x: right;
  background-position-y: 13px;
  padding-left: 15px;
  z-index: 999;
}

.input-phone {
  background: url(../img/phone-icon.png) no-repeat 10px 13px;
  padding-left: 35px;
  z-index: 999;
}

.input-position {
  background: url(../img/position-icon.png) no-repeat 10px 13px;
  padding-left: 35px;
  z-index: 999;
}

.input-calendar {
  background: url(../img/calendar-icon.png) no-repeat 10px 13px;
  padding-left: 35px;
  z-index: 999;
}

.input-note {
  background: url(../img/note-icon.png) no-repeat 10px 13px;
  padding-left: 35px;
  z-index: 999;
}

.input-group-addon {
  padding: 6px 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: #fff;
  text-align: center;
  background-color: #97d35a;
  border: 1px solid #97d35a;
  border-radius: 0;
}

.modal-body .form-group .date input {
  height: 44px;
  /* border: 1px solid #e5e5e5; */
  border: 1px solid #e5e5e5;
  border-right-width: 0;
  background-color: white;
  border-radius: 0 !important;
  box-shadow: none;
}

.modal-body .form-group .date a {
  color: #8ac94a;
  text-decoration: none;
}

input.date {
  border-right: 1px solid #000;
}

.bg-primary {
  color: #fff;
  background-color: #97d35a
}

.big-calendar .sidebar div.trigger {
  height: 40px;
  border: 1px solid #dde7f0;
  background-color: white;
  border-radius: 4px !important;
  padding: 9px !important;
  text-align: left;
  color: #a8b0bc;
}

tbody > tr > td > .cal-day {
  height: 100px;
  border-bottom: 1px solid #c1d2db;
}

.cal-day .day-content {
  padding: 18px 5px 5px 5px;
}

.cal-day .line-appointment {
  position: relative;
  height: auto;
  text-align: left;
  font-size: 13px;
  overflow: hidden;
  /* display: inline; */
  /* margin-top: 15px; */
}

.cal-day .line-appointment i {
  font-size: 8px;
  float: left;
  line-height: 18px;
}

.cal-day .line-appointment .title {
  font-size: 12px;
  font-weight: 400;
  /*
  @todo german
  For correct width to Monthly view
  max-width: 60px;
  */
  float: left;
  display: inline;
  margin-left: 5px;
}

.cal-day .line-appointment .time {
  font-size: 12px;
  font-weight: 300;
  max-width: 60px;
  float: right;
  display: inline;
  margin-left: 20px;
  color: #bbb;
}

tbody > tr > td > .dashed, .dashed-bg {
  background: url(../img/dashed.png) #f8f8f8 repeat;
}

.active-dashed-bg {
  background: url(../img/dashed.png) #fff repeat;
  border-top: 2px solid #60c4e9 !important;
}

tbody > tr > td > .schedule-bg {
  background: #fbfbfb;
  /*height: 100%;*/
  width: 100%;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin: 0;
  padding: 5px;
}

tbody > tr > td > .active-schedule-bg {
  background: #fff;
  height: 100%;
  width: 100%;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin: 0;
  padding: 5px;
}

tbody > tr > td > .normal {
  background: #fbfbfb;
}

tbody > tr > td > .active {
  background: #fff;
}

tbody > tr > td > .dashed .day-number {
  height: 16px;
  width: 18px;
  text-align: center;
  background: #d1e0e8;
  color: white;
  font-size: 12px;
  font-weight: 300;
  top: 0;
  float: right;
}

tbody > tr > td > .normal .day-number, tbody > tr > td > .passed .day-number {
  height: 16px;
  width: 18px;
  text-align: center;
  background: #a7bcc7;
  color: white;
  font-size: 12px;
  font-weight: 300;
  top: 0;
  float: right;
}

tbody > tr > td > .normal a.x-more, tbody > tr > td > .active a.x-more {
  float: left;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  color: #6a6a6a;
  padding-left: 10px;
  padding-top: 3px;
}

tbody > tr > td > .passed a.x-more {
  color: #b9b9b9;
  float: left;
  text-align: left;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
  padding-top: 3px;
}

tbody > tr > td > .active .day-number {
  height: 16px;
  width: 18px;
  text-align: center;
  background: #0fb2ee;
  color: white;
  font-size: 12px;
  font-weight: 300;
  top: 0;
  float: right;
}

tbody > tr > .monthly {
  padding: 0 !important;
  max-width: 165px !important;
}

/* Tooltip */
.tooltip .tooltip-inner {
  position: relative;
  height: 350px;
  width: 200px;
  background-color: #f7f7f7;
  opacity: 1;
  -webkit-box-shadow: 0 0 5px 1px #B8B8B8;
  box-shadow: 0 0 5px 1px #B8B8B8;
  border-radius: 4px;
  color: #696969;
  text-align: left;
  padding: 13px;
}

/* END Tooltip */
.box {
  position: relative;
  background: white;
}

.dashboard-half-height {
  min-height: 270px;
  width: 100%;
  margin: 10px auto 20px;
}

.dashboard-full-height {
  min-height: 562px;
  width: 100%;
  margin: 10px auto 20px;
}

.dashboard-box-head {
  position: relative;
  height: 58px;
  width: 100%;
  border-bottom: 1px solid #f2f5f8;
}

.dashboard-box-head h4 {
  color: #324154;
  width: auto;
  float: left;
  margin: 20px 15px;
}

.dashboard-date-picker {
  margin: 12px 15px;
  width: 170px;
  float: right;
}

.dashboard-date-picker > .input-group > .dashboard-input {
  width: 170px;
  float: right;
  padding-right: 20px;
  border-radius: 3px;
  font-size: 13px;
  box-shadow: none;

}

.dashboard-date-picker > .input-group > .input-group-addon {
  padding: 0;
  font-size: 13px;
  position: absolute;
  right: 20px;
  z-index: 999;
  cursor: pointer;
  float: right;
  font-weight: 400;
  line-height: 34px;
  border: none;
  color: #ddd;
  background: transparent;
  text-align: center;
  border-radius: 0;
}

.dashboard-table > tbody > tr > td {
  border-top: none;
  border-bottom: 1px solid #f2f5f8;
}

.dashboard-table > tbody > tr > td > .event-title, .dashboard-table > tbody > tr > td > .event-timerange {
  color: #696969;
  font-weight: 500;
}

.dashboard-table > tbody > tr > td > .event-description {
  color: #999;
  font-weight: 400;
}

.dashboard-table > tbody > tr > td > .event-description > i {
  color: #b0b0b0;
  margin-right: 5px;
  font-weight: 400;
}

.load-more {
  position: absolute;
  bottom: 10px;
  width: 100%;
  height: 22px;
}

.load-more > .btn-green {
  background-color: #97d35a;
  color: white;
  display: block;
  margin: auto;
  text-transform: uppercase;
  border: 1px solid #86ba51;
  padding: 3px 14px;
  border-radius: 4px;
  font-size: 13px;
}

.overview-small-text {
  font-size: 13px;
  color: #7f8588;
  text-align: center;
}

.overview-big-number {
  font-size: 120px;
  color: #1f2c37;
  text-align: center;
  font-weight: 300;
  line-height: 100px;
}

.blue-graph-key {
  position: relative;
  margin: 10px 0 0;
  width: 100%;
}

.blue-graph-key > .line {
  height: 2px;
  width: 20px;
  background: #5bc4eb;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 3px;
}

.blue-graph-key > .line-text {
  display: inline;
  font-size: 12px;
  color: #bfc3c5;
  font-weight: 300;
}

.dashboard-sideCharts {
  position: relative;
}

.overlay {
  width: 70px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: 70px;
  font-size: 32px; /* @german Correct for Dashboard */
  left: 0;
  right: 0;
  margin: 0 auto;
}

.overlay-label {
  width: 70px;
  height: 20px;
  text-align: center;
  position: absolute;
  top: 120px;
  font-size: 14px;
  color: #ccc;
  left: 0;
  right: 0;
  margin: 0 auto;
}

#busy_free_chart_cnt.overlay {
  top: 65px; /* @german Correct for Dashboard */
}

#busy_free_chart_cnt.overlay + .overlay-label {
  top: 110px;
}

#task_status_chart_cnt {
  top: 75px;
  width: 75px;
}

#task_status_chart_cnt + .overlay-label {
  top: 115px;
}

@media screen and (max-width: 1024px) {
  .navbar-logo {
    width: 125px;
  }

  .navbar-nav {
    width: 515px;
  }

  .navbar-profile {
    padding: 23px 10px;
  }

  .navbar-profile > img {
    display: none;
  }

  .navbar-profile > ul.dropdown-menu {
    width: 167px;
  }

  .navbar-notif > ul.dropdown-menu {
    width: 240px;
  }

  .navbar-menu-item {
    width: 125px;
  }
}

@media (max-width: 1200px) {
  #advanced-search {
    margin-left: -224px;
  }
}

@media (max-width: 1200px) {
  #advanced-search {
    margin-left: -224px;
  }
}

/* by Alex. This is need for https://app.asana.com/0/inbox/13061069061013/98341155321889/101353329597756 */
.cal-day {
  overflow: hidden;
  position: relative;
}

.cal-day .x-more {
  font-size: 12px;
  text-align: left;
  position: absolute;
  bottom: 7px;
  left: 5px;
  width: 93%;
  /*background-color: #5b5b5b;*/
  opacity: 0.6;
}

@media (max-width: 1320px) {
  .cal-day .line-appointment i {
    display: none;
  }

  .cal-day .line-appointment .title {
    display: block;
    margin: 0;
    float: none;
    text-align: center;
    width: 100%;
    max-width: 100%;
  }

  .cal-day .line-appointment .time {
    width: 100%;
    max-width: 100%;
    text-align: center;
    float: none;
    display: block;
    margin: 0;
  }
}